.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;

  &__src {
    opacity: 0.33;
    filter: brightness(50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
