.popup {
  position: fixed;
  z-index: 10000;
  background-color: rgba(68, 68, 68, 0.774);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
  }

  &__container {
    @include container;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 20px;
    overflow: hidden;

    transform: scale(0.2);
    transition: all 0.5s;

    @include media(tablet) {
      flex-direction: row;
    }
  }

  &__imgs {
    @include media(mobile) {
      & :first-child {
        display: none;
      }

      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      &::after {
        z-index: 1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
      }
    }

    @include media(tablet) {
      width: 30%;
      & :first-child {
        display: block;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;

    @include media(tablet) {
      height: 50%;
    }
  }

  &__content {
    z-index: 2;
    margin: auto;
    padding: 3rem;
    display: grid;
    grid-template-areas:
      "heading1"
      "heading2"
      "paragraph1"
      "paragraph2"
      "button";
    color: $font-color-light;
    justify-items: start;
    gap: 2rem;

    @include media(tablet) {
      grid-template-areas:
        "heading1 heading1"
        "heading2 heading2 "
        "paragraph1 paragraph2"
        "button .";
      color: $font-color-dark;
      width: 70%;
    }
  }

  &__heading1 {
    grid-area: heading1;
    max-width: 90%;
  }
  &__heading2 {
    grid-area: heading2;
  }
  &__paragraph:first-of-type {
    grid-area: paragraph1;
  }
  &__paragraph:last-of-type {
    grid-area: paragraph2;
  }
  &__btn {
    grid-area: button;
  }

  &__close {
    z-index: 1000;
    font-size: 2.5rem;
    color: $font-color-light;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;

    @include media(tablet) {
      color: $font-color-dark;
    }
  }

  &__paragraph:first-of-type {
    padding-bottom: 2rem;
    border-bottom: 1px solid #f3f3f3;

    @include media(tablet) {
      padding-bottom: 0;
      border-bottom: 0;
      padding-right: 2rem;
      border-right: 1px solid rgba(51, 51, 51, 0.205);
    }
  }

  &__paragraph {
    hyphens: auto;
  }

  &__visible {
    opacity: 1;
    visibility: visible;

    .popup__container {
      transform: scale(1);
    }
  }
}
