.testimonial-section {
  // padding: $gutter-section 0;
  width: 100%;

  &__heading-container {
    @include container;
  }

  &__heading {
    text-align: center;
    margin-bottom: $gutter-heading;
  }

  &__container {
    @include container;
  }

  &__heading {
    text-align: center;
    margin-bottom: $gutter-heading;
  }
}
